@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'lnter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
  background-color: #344563;
}

.nav-height {
  height: 100vh;
}

.langsBg {
  background-color: #cad2df;
}

.cardHeight {
  height: 400px;
}

#modalBtnsDt {
  display: none;
  visibility: hidden;
}

@media only screen and (min-width: 580px) {
  .nav-item > .fa {
    display: none;
  }

  .nav-height {
    height: auto;
  }

  #modalBtnsDt {
    display: block;
    visibility: visible;
  }

  #modalBtnsMb {
    display: none;
    visibility: hidden;
  }
}
