@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
}
